body {
    padding-top: 5%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

header {
    position: fixed;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #333;
}

header img {
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
}

main {
    padding-top: 40px;
}

section {
    padding-top: 40px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

#home {
    background-color: #eee;
}

#home img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery img {
    width: 30%;
    margin: 5px;
    border-radius: 5px;
}

.gallery img:hover {
    opacity: 0.8;
}

#contact {
    text-align: center;
}

#contact img {
    width: 100%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #444;
}


@media (max-width: 768px) {
    nav li {
        display: block;
        margin-bottom: 10px;
    }

    .gallery img {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .gallery img {
        width: 100%;
    }
}